@charset "UTF-8";
@font-face {
  font-family: 'Roboto Mono';
  src: url("../../static/robotomono-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial;
  background-color: #ffffff; }

html,
body {
  width: 100%;
  height: 100%; }

.initScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out; }
  body.showInstruction .initScreen {
    opacity: 0.2;
    filter: blur(5px) grayscale(1);
    pointer-events: none; }

.notSupported {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  line-height: 1.5;
  text-align: center;
  background: white;
  display: none; }
  body.notSupportedState .notSupported {
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center; }
  .notSupported b {
    font-weight: bold; }

.indicator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  perspective: 500px;
  --y: 0;
  --x: 0; }
  .indicator .rotate {
    margin: auto;
    display: flex;
    align-items: center;
    color: black;
    display: none; }
  .indicator .allAxis {
    width: 100%;
    height: 100%;
    display: flex; }
  .indicator .cube {
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.1s linear;
    transform: rotateX(calc(0.001deg + var(--y))) rotateY(calc(0.001deg + var(--x))) translateZ(0); }
  .indicator .face {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px dashed #2f3542;
    background-color: rgba(206, 214, 224, 0.35); }
  .indicator .face-1 {
    left: 0;
    top: 0;
    transform: translateZ(75px);
    border: 1px solid #2f3542; }
  .indicator .face-2 {
    left: -150px;
    top: 0;
    transform: translateZ(75px) rotateY(-90deg);
    transform-origin: 100% 50%;
    background-color: rgba(159, 175, 194, 0.35);
    border-right: none; }
  .indicator .face-3 {
    left: 0;
    top: -150px;
    transform: translateZ(75px) rotateX(90deg);
    transform-origin: 50% 100%;
    background-color: rgba(159, 175, 194, 0.35);
    border-bottom: none; }
  .indicator .face-4 {
    left: 150px;
    top: 0;
    transform: translateZ(75px) rotateY(90deg);
    transform-origin: 0 50%;
    background-color: rgba(159, 175, 194, 0.35);
    border-left: none; }
  .indicator .face-5 {
    left: 0;
    top: 150px;
    transform: translateZ(75px) rotateX(-90deg);
    transform-origin: 50% 0;
    background-color: rgba(159, 175, 194, 0.35);
    border-top: none; }
  .indicator .face-6 {
    left: 0;
    top: 0;
    transform: translateZ(-75px);
    background-color: rgba(215, 222, 230, 0.35); }
  .indicator .dataContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .indicator .yDataContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .indicator .yArrow {
    width: 1px;
    height: calc(100% - 30.1px);
    position: absolute;
    left: 14px;
    bottom: 14px;
    background: #70a1ff; }
    .indicator .yArrow::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -2px;
      left: -3.5px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 8px solid #70a1ff; }
  .indicator .rotateDataY {
    position: absolute;
    left: 35px;
    top: 10px;
    font-size: 35px;
    color: #70a1ff; }
    .indicator .rotateDataY::after {
      content: ' °';
      position: absolute;
      right: 1px;
      top: -3px;
      transform: translateX(100%);
      font-size: 30px; }
  .indicator .xDataContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .indicator .xArrow {
    width: calc(100% - 30.1px);
    height: 1px;
    position: absolute;
    left: 14px;
    bottom: 14px;
    background-color: #ffa502; }
    .indicator .xArrow::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -4px;
      right: -2px;
      border-top: 4px solid transparent;
      border-left: 8px solid #ffa502;
      border-bottom: 4px solid transparent; }
  .indicator .rotateDataX {
    position: absolute;
    right: 33px;
    bottom: 23px;
    font-size: 35px;
    color: #ffa502; }
    .indicator .rotateDataX::after {
      content: ' °';
      position: absolute;
      right: 1px;
      top: -3px;
      transform: translateX(100%);
      font-size: 30px; }

.bottomBar {
  width: 100%;
  min-height: 58px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: #2f3542;
  color: white;
  overflow: hidden;
  font-family: "Roboto Mono", monospace; }
  .bottomBar .centeringWrapper {
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bottomBar .aboutButton {
    width: 37px;
    height: 37px;
    margin-left: 12px;
    padding-top: 2px;
    border-radius: 50%;
    background-color: white; }
    body:not(.safari) .bottomBar .aboutButton {
      transform: translateX(calc(37px + 15px)); }
    .bottomBar .aboutButton img {
      width: 12px;
      height: auto; }
  .bottomBar .installButton {
    width: 37px;
    height: 37px;
    padding-top: 2px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: white; }
    body:not(.safari) .bottomBar .installButton {
      transform: translateX(calc(37px + 15px));
      opacity: 0; }
    @media all and (display-mode: standalone) {
      .bottomBar .installButton {
        display: none !important; } }
    .bottomBar .installButton img {
      width: 12px;
      height: auto; }
  body.installApproved .bottomBar .aboutButton {
    animation: showButton 0.4s ease-in-out forwards; }
  body.installApproved .bottomBar .installButton {
    animation: accentButton 1s ease-in-out forwards; }

@keyframes showButton {
  100% {
    transform: none;
    opacity: 1; } }

@keyframes accentButton {
  40% {
    transform: none;
    opacity: 1; }
  55% {
    transform: scale(1.225); }
  70% {
    transform: none; }
  85% {
    transform: scale(1.225); }
  100% {
    transform: none;
    opacity: 1; } }
  .bottomBar .details {
    margin-right: auto;
    display: flex;
    font-size: 12px; }
  .bottomBar .title {
    margin-right: 3px; }
  .bottomBar .detailsData {
    margin-left: 3px; }
  .bottomBar .yDataWrapper {
    display: flex;
    color: #70a1ff; }
  .bottomBar .xDataWrapper {
    display: flex;
    color: #ffa502; }
  .bottomBar .xDataTitle {
    margin-left: 10px; }

.about {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial;
  background-color: white;
  line-height: 1.4;
  display: none; }
  .about.open {
    display: block; }
  .about .closeButton {
    width: 100%;
    min-height: 58px;
    margin-top: auto;
    background-color: #2f3542;
    font-size: 14px;
    text-transform: uppercase;
    color: white; }
  .about .scrollWrapper {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .about .aboutContent {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .about .titleAndDesc {
    margin-bottom: 12vh;
    text-align: center; }
  .about .title {
    font-size: 28px; }
  .about .description {
    margin-top: 5px;
    font-size: 14px; }
  .about .info {
    font-size: 14px;
    text-align: center; }
  .about li,
  .about .sourceCode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px; }
  .about .offlineIcon {
    width: 20px;
    height: auto;
    margin-right: 7px; }
  .about .githubIcon {
    width: 18px;
    height: auto;
    margin-right: 7px; }
  .about .heartIcon {
    width: 18px;
    margin: 0 7px;
    animation: heartAnim 0.3s cubic-bezier(0.26, 0.68, 0.65, 1.65) infinite alternate; }

@keyframes heartAnim {
  100% {
    transform: scale(0.9); } }

.iosMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial;
  transition: all 0.2s ease-out; }
  body.showInstruction .iosMessage {
    opacity: 1;
    pointer-events: auto; }
  .iosMessage.showInstruction .instructionWrapper {
    opacity: 1;
    pointer-events: auto; }
  .iosMessage .iosInstruction {
    margin: auto 0 20px 0;
    height: 62px;
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: white;
    border: 2px #2f3542 solid;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600; }
    .iosMessage .iosInstruction::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: calc(50% - 10px);
      bottom: -22px;
      background: url(../../static/downArrow.svg) no-repeat center top;
      background-size: 100% auto;
      z-index: 1;
      animation: arrowAnim 0.4s infinite alternate; }

@keyframes arrowAnim {
  100% {
    transform: translateY(-2px); } }
  .iosMessage .close {
    width: 27px;
    height: 27px;
    position: absolute;
    right: -35px;
    top: -32px; }
    .iosMessage .close::before {
      content: '';
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #2f3542;
      transform: rotateZ(45deg); }
    .iosMessage .close::after {
      content: '';
      width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #2f3542;
      transform: rotateZ(-45deg); }
  .iosMessage .iosActionsIcon {
    width: 19px;
    margin: 0 10px;
    position: relative;
    top: -3px; }
  .iosMessage .addToHome {
    width: 25px;
    margin-left: 10px; }
