@font-face {
    font-family: 'Roboto Mono';
    src: url('../../static/robotomono-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$app-font: 'Roboto Mono', monospace;
$content-font: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
							 "Helvetica Neue",
               Helvetica,
               Arial;

$yColor: #70a1ff;
$xColor: #ffa502;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: inherit;
}

body {
  font-family: $content-font;
  background-color: #ffffff;
}

html,
body {
  width: 100%;
  height: 100%;
}

.initScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;

  @at-root body.showInstruction & {
    opacity: 0.2;
    filter: blur(5px) grayscale(1);
    pointer-events: none;
  }
}