@font-face {
    font-family: 'Roboto Mono';
    src: url('../../static/robotomono-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


// Fonts
$app-font: 'Roboto Mono', monospace;
$content-font: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
							 "Helvetica Neue",
               Helvetica,
               Arial;


// Colors
$basicColor: white;
$brandColor: #2f3542;
$yColor: #70a1ff;
$xColor: #ffa502;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: inherit;
}

body {
  font-family: $content-font;
  background-color: $basicColor;
}

html,
body {
  width: 100%;
  height: 100%;
}

.initScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;

  @at-root body.showInstruction & {
    opacity: 0.2;
    filter: blur(5px) grayscale(1);
    pointer-events: none;
  }
}

body::before {
  content: 'Please, rotate screen to portrait orientation';
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  background: rgba($basicColor, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s 0.3s;
}

body::after {
  content: '';
  width: 200%;
  height: 200%;
  position: fixed;
  left: -50%;
  top: -50%;
  font-size: 16px;
  background: url(../../static/rotate.svg) no-repeat center center;
  background-size: 160px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s 0.3s;
}

@keyframes rotateArrows {
  100% {
    transform: rotateZ(180deg);
  }
}

@media all and (orientation: landscape) {
  body:not(.notSupportedState) {
    &::before {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      visibility: visible;
      opacity: 1;
      animation: rotateArrows 1.5s cubic-bezier(0.775, -0.325, 0.230, 1.390) infinite;
    }

    .initScreen {
      filter: blur(3px) grayscale(1);
    }
  }
}