<div class="about">
  <div class="scrollWrapper">
    <div class="aboutContent">
      <div class="titleAndDesc">
        <h1 class="title"> Phone clinometer </h1>

        <p class="description">
          App for measurement of inclination
        </p>
      </div>

      <ul class="info">
        <li class="author">
          Made with
          <img class="heartIcon" src="static/love.svg"> by Sergey Pimenov
        </li>

        <li class="offline">
          <img class="offlineIcon" src="static/offline.svg"> App work offline
        </li>

        <li>
          <a class="sourceCode" href="#">
            <img class="githubIcon" src="static/github.svg"> Source code
          </a>
        </li>
      </ul>
    </div>

    <button class="closeButton">
      Close
    </button>
  </div>
</div>