<div class="about">
  <div class="scrollWrapper">
    <div class="aboutContent">
      <div class="titleAndDesc">
        <h1 class="title"> Phone clinometer </h1>

        <p class="description">
           Test netlify
          
          App for measurement of inclination
        </p>
      </div>

      <ul class="info">
        <li class="author">
          Made with
          <img class="heartIcon" src="static/love.svg"> 
          <a href="https://sergey-pimenov.github.io" target="_blank">by Sergey Pimenov</a>
        </li>

        <li class="offline">
          <img class="offlineIcon" src="static/offline.svg"> Offline ready
        </li>

        <li>
          <a class="sourceCode"
             href="https://github.com/sergey-pimenov/clinometer"
             target="_blank">
            <img class="githubIcon" src="static/github.svg"> Source code
          </a>
        </li>
      </ul>
    </div>

    <button class="closeButton"> Close </button>
  </div>
</div>
