<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "meta.html" %}

    <title> Phone clinometer online </title>

    <link rel="stylesheet" href="builded_assets/styles/index.css">
  </head>
  <body>
    <div class="initScreen">
      {% include "indicator.html" %}

      {% include "actionBar.html" %}
    </div>

    {% include "about.html" %}

    {% include "iosMessage.html" %}

    {% include "notSupported.html" %}

    {% include "inaccurate.html" %}

    <script src="builded_assets/scripts/index.js"> </script>
  </body>
</html>