<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="white">

  <!-- Search Engine -->
  <meta name="description" content="Phone clinometer online">
  <meta name="image" content="static/icons/icon-512x512.png">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Phone clinometer">
  <meta itemprop="description" content="Phone clinometer online">
  <meta itemprop="image" content="static/icons/icon-512x512.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Phone clinometer">
  <meta name="twitter:description" content="Phone clinometer online">
  <meta name="twitter:image:src" content="static/icons/icon-512x512.png">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Phone clinometer">
  <meta name="og:description" content="Phone clinometer online">
  <meta name="og:url" content="https://sergey-pimenov.github.io">
  <meta name="og:site_name" content="Phone clinometer online">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">

  <link rel="manifest" href="/manifest.json">

  <title> Phone clinometer online </title>

  <link rel="stylesheet" href="builded_assets/styles/index.css">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="static/icons/icon-512x512.png" type="image/png">
  <link rel="apple-touch-icon" href="static/icons/icon-512x512.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">

  <link rel="apple-touch-startup-image" href="static/splash/launch-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
  <!-- <link rel="apple-touch-startup-image" href="images/splash/launch-1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
  <link rel="apple-touch-startup-image" href="images/splash/launch-2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)"> -->

</head>
<body>
  <div class="initScreen">
    {% include "indicator.html" %}

    {% include "bottomBar.html" %}
  </div>

  {% include "about.html" %}

  {% include "iosMessage.html" %}

  <script src="builded_assets/scripts/index.js"> </script>
</body>
</html>