.bottomBar {
  width: 100%;
  min-height: 54px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: black;
  color: white;
  overflow: hidden;

  .aboutButton {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    background-color: white;
    
    @at-root body:not(.safari) & {
      transform: translateX(calc(37px + 15px));
    }

    img {
      width: 12px;
      height: auto;
      fill: black;
    }
  }

  .installButton {
    width: 37px;
    height: 37px;
    padding-top: 2px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(28, 255, 191);

    @at-root body:not(.safari) & {
      transform: translateX(calc(37px + 15px));
      opacity: 0;
    }

    @media all and (display-mode: standalone) {
      display: none !important;
    }

    img {
      width: 12px;
      height: auto;
      fill: black;
    }

  }

  @at-root body.installApproved & {
    .aboutButton {
       animation: showButton 0.4s ease-in-out forwards;
    }

    .installButton {
       animation: accentButton 1s ease-in-out forwards;
    }
  }

  @keyframes showButton {
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes accentButton {
    40% {
      transform: none;
      opacity: 1;
    }

    55% {
      transform: scale(1.225);
    }

    70% {
      transform: none;
    }

    85% {
      transform: scale(1.225);
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }
}