<footer class="actionBar">
  <div class="details">
    <div class="yDataWrapper">
      <span class="title yDataTitle">Y</span>:
      <div class="detailsData detailsRotateY">0</div>,
    </div>

    <div class="xDataWrapper">
      <span class="title xDataTitle">X</span>:
      <div class="detailsData detailsRotateX">0</div>
    </div>
  </div>

  <button class="aboutButton">
    <span class="centeringWrapper">
      <img src="static/about.svg">
    </span>
  </button>

  <button class="installButton">
    <span class="centeringWrapper">
      <img src="static/install.svg">
    </span>
  </button>
</footer>