.actionBar {
  width: 100%;
  min-height: 58px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: $brandColor;
  color: $basicColor;
  overflow: hidden;
  font-family: $app-font;

  .centeringWrapper {
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  $buttonSize: 37px;
  $buttonIndent: 12px;

  %button {
    width: $buttonSize;
    height: $buttonSize;
    padding-top: 2px;
    border-radius: 50%;
    background-color: $basicColor;

    img {
      width: 12px;
      height: auto;
    }
  }

  .aboutButton {
    @extend %button;
    
    @at-root body:not(.safari):not(.installable) & {
      transform: translateX(calc(#{$buttonSize} + #{$buttonIndent}));
    }
  }

  .installButton {
    @extend %button;
    margin-left: $buttonIndent;

    @at-root body:not(.safari):not(.installable) & {
      transform: translateX(calc(#{$buttonSize} + #{$buttonIndent}));
      opacity: 0;
    }


    // Hide install button when app installed
    @media all and (display-mode: standalone) {
      display: none !important;
    }
  }

  // Show button when browser fired 'beforeinstallprompt' event
  @at-root body.installApproved & {
    .aboutButton {
       animation: showButton 0.4s ease-in-out forwards;
    }

    .installButton {
       animation: accentButton 1s ease-in-out forwards;
    }
  }

  @keyframes showButton {
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes accentButton {
    40% {
      transform: none;
      opacity: 1;
    }

    55% {
      transform: scale(1.225);
    }

    70% {
      transform: none;
    }

    85% {
      transform: scale(1.225);
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }

  .details {
    margin-right: auto;
    display: flex;
    font-size: 12px;
  }

  .title {
    margin-right: 3px;
  }

  .detailsData {
    margin-left: 3px;
  }

  .yDataWrapper {
    display: flex;
    color: $yColor;
  }

  .xDataWrapper {
    display: flex;
    color: $xColor;
  }

  .xDataTitle {
    margin-left: 10px;
  }
}